## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>
<%namespace name='theme_settings' file='/theme-settings.html'/>

<%inherit file="/main.html" />

<%
  theme_vars = theme_settings.get_theme_vars()
  site_name = settings.SITE_NAME
  accessibility_email = theme_vars['accessibility_email']
  concern_email = theme_vars['concern_email']
  contact_email = '<a href="mailto:{email}">{email}</a>'.format(email=settings.CONTACT_EMAIL)
  privacy_email = theme_vars['privacy_email']
%>

<%block name="title"><title>${_('About {PLATFORM_NAME}').format(PLATFORM_NAME='Stanford Online')}</title></%block>

<%block name="js_extra">
  <script type="text/javascript">
    $(function() {
      $('section.message').hide();
      $('#about-menu a').removeClass('active');
      window.scrollTo(0,0);
      
      if ( document.location.href.indexOf('#contact') > -1 ) {
        $('section#contact').show();
        $('#about-menu a.contact').addClass('active');
      } else {
        $('section#about').show();
        $('#about-menu a.about').addClass('active');
      }
      
      $('#about-menu a').click(function(event) {
        event.preventDefault();
        $('#about-menu a').removeClass('active');
        $(this).addClass('active');
        var clickId = "section" + $(this).attr('href');
        $('section.message').hide();
        $(clickId).show();
      });
    });
  </script>
</%block>

<section class="container about" style="width: auto;">
  <nav id="about-menu">
    <a href="#about" class="about active">${_('About')}</a>
    <a href="#contact" class="contact">${_('Contact')}</a>
  </nav>

  <section class="vision">

## About Section ##
    <section class="message left" id="about">
      <div class="photo">
        <img src="${static.url('themes/lagunita/images/quad.jpg')}" alt="${_('Stanford Quad with Hoover Tower')}" />
          <!-- Image Copyright owned by Giulio Gratta -->
      </div>
      <article>
        <h2>${_('About')} <span class="edx">Lagunita</span></h2>
        
        <p>${_("{Lagunita} is {Stanford}'s instance of the open-source software release of the {Open_edX} platform, which was developed by the joint {Harvard_MIT} non-profit organization, and which {Stanford} engineers have been collaborating on since April 2013. {Lagunita} hosts many of the free, online courses that are taught by {Stanford} faculty and made available to lifelong learners around the world for self-enrichment. {Lagunita} also hosts a variety of professional education opportunities in conjunction with many of {Stanford_University}'s schools and departments.").format(
                Lagunita="Lagunita",
                Stanford="Stanford",
                Open_edX="Open edX",
                Harvard_MIT="Harvard/MIT",
                Stanford_University="Stanford University"
            )}
        </p>
        
        <p>${_("All of the personal and professional learning opportunities that are hosted on {Lagunita} and open to the public are made available through Stanford Online and listed at {lagunita_courses_link}.  To see our complete catalog of {Stanford_Online} courses on {Lagunita} and other platforms, you can visit {online_courses_link}.").format(
                Lagunita="Lagunita",
                Stanford_Online="Stanford Online",
                lagunita_courses_link="<a href='https://lagunita.stanford.edu/courses'>https://lagunita.stanford.edu/courses</a>",
                online_courses_link="<a href='http://online.stanford.edu/courses/'>http://online.stanford.edu/courses/</a>"
            )}
        </p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>

## Careers Section ##
    <section class="message left" id="careers">
      <div class="photo">
        <img src="${static.url('themes/lagunita/images/tree-light.jpg')}" alt="${_('Stanford Quad with Hoover Tower')}" />
          <!-- Image Copyright owned by Giulio Gratta -->
      </div>
      <article>
        <h2>${_('Careers')}</h2>
        <p>
          ${_("Technology is disrupting higher education.  We believe universities can benefit from this if it's done right.  Supporting basic education and computer science research is core to what we do.  We also believe that universities should be in control of how this space evolves, and that an open-source platform is the best way to do that.")}
        </p>
        <p>
          ${_("Our engineering team is small and productive: five engineers, one PM, and two course ops staff.  We do our own operations and QA.  We install several times per week.  We like being close to our customers (faculty, staff, students) since that motivates the right kind of innovation.  We run a lightweight, mostly-Agile development process with quick daily standups, group planning, and frequent demos.  We work on the {Stanford_Campus}.").format(
            Stanford_Campus="Stanford Campus"
          )}
        </p>
        <p>
          ${_("What we work on is mostly driven by our customers, but we also commit to the core {edX} platform repo.  We collaborate with other {Open_edX} adopters, including {Google}.").format(
            edX="edX",
            Open_edX="Open edX",
            Google="Google"
          )}
        </p>
        
        <p>&nbsp;</p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>

## Contact Section ##
    <section class="message left" id="contact">
      <div class="photo">
        <img src="${static.url('themes/lagunita/images/dish.jpg')}" alt="${_('Stanford Dish by Twilight')}" />
          <!-- Image Copyright owned by Stanford University -->
      </div>
      <article id="stanford-OpenEdX-contact">
        <h2>${_('Platform Help Center and Contact Emails')}</h2>
        <p><strong>Stanford Online Help Center:</strong><br />
            <a href="https://stanfordonline.zendesk.com/hc">https://stanfordonline.zendesk.com</a>
        </p>
        <p>${_("The {help_link_start}Help Center{link_end} contains a FAQ that answers all of the most common tech support questions for the courses available through {lagunita_home_link}. If you can't find what you're looking for there, or if you have a suggestion or bug report to make, you can also file a support ticket from the Help Center.").format(
                help_link_start='<a href="https://stanfordonline.zendesk.com/hc">',
                link_end='</a>',
                lagunita_home_link='<a href="https://lagunita.stanford.edu">https://lagunita.stanford.edu</a>'
            )}
        </p>
        <p>${_("For disability-related questions email us at:")} <br />
            ${accessibility_email}
        </p>
        <p>${_("For privacy-related questions email us at:")}<br />
            ${privacy_email}
        </p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>
  </section>

</section>
