## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>${_('About {PLATFORM_NAME}').format(PLATFORM_NAME='Stanford Online')}</title></%block>

<%block name="js_extra">
  <script type="text/javascript">
    $(function() {
      $('section.message').hide();
      $('#about-menu a').removeClass('active');
      window.scrollTo(0,0);
      
      if ( document.location.href.indexOf('#contact') > -1 ) {
        $('section#contact').show();
        $('#about-menu a.contact').addClass('active');
      } else {
        $('section#about').show();
        $('#about-menu a.about').addClass('active');
      }
      
      $('#about-menu a').click(function(event) {
        event.preventDefault();
        $('#about-menu a').removeClass('active');
        $(this).addClass('active');
        var clickId = "section" + $(this).attr('href');
        $('section.message').hide();
        $(clickId).show();
      });
    });
  </script>
</%block>

<section class="container about" style="width: auto;">
  <nav id="about-menu">
    <a href="#about" class="about active">${_('About')}</a>
    <a href="#contact" class="contact">${_('Contact')}</a>
  </nav>

  <section class="vision">

## About Section ##
    <section class="message left" id="about">
      <div class="photo">
        <img src="${static.url('themes/stanford/images/quad.jpg')}" alt="${_('Stanford Quad with Hoover Tower')}" />
          <!-- Image Copyright owned by Giulio Gratta -->
      </div>
      <article>
        <h2>${_('About')} <span class="edx">Stanford Online</span></h2>
        
        <p>${_('{Stanford} is developing new online course material in order to improve on-campus courses and provide broader public access to exciting learning opportunities.').format(Stanford="Stanford")}</p>
        <p>${_("The engineering team at Stanford's Office of the Vice Provost for Online Learning is running and developing on an instance of the {platform_link_start}OpenEdX platform{link_end}. More details are in {details_link_start}this article{link_end}.").format(
            platform_link_start='<a href="http://code.edx.org">',
            details_link_start='<a href="http://news.stanford.edu/news/2013/june/open-source-platform-061113.html">',
            link_end='</a>'
          )}
        </p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>

## Careers Section ##
    <section class="message left" id="careers">
      <div class="photo">
        <img src="${static.url('themes/stanford/images/tree-light.jpg')}" alt="${_('Stanford Quad with Hoover Tower')}" />
          <!-- Image Copyright owned by Giulio Gratta -->
      </div>
      <article>
        <h2>${_('Careers')}</h2>
        <p>
          Technology is disrupting higher education.  We believe universities can benefit from this if it's done right.  Supporting basic education and computer science research is core to what we do.  We also believe that universities should be in control of how this space evolves, and that an open-source platform is the best way to do that.
        </p>
        <p>
          Our engineering team is small and productive: five engineers, one PM, and two course ops staff.  We do our own operations and QA.  We install several times per week.  We like being close to our customers (faculty, staff, students) since that motivates the right kind of innovation.  We run a lightweight, mostly-Agile development process with quick daily standups, group planning, and frequent demos.  We work on the Stanford Campus.
        </p>
        <p>
          What we work on is mostly driven by our customers, but we also commit to the core edX platform repo.  We collaborate with other OpenEdX adopters, including Google.
        </p>
        
        <p>&nbsp;</p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>

## Contact Section ##
    <section class="message left" id="contact">
      <div class="photo">
        <img src="${static.url('themes/stanford/images/dish.jpg')}" alt="${_('Stanford Dish by Twilight')}" />
          <!-- Image Copyright owned by Stanford University -->
      </div>
      <article id="stanford-OpenEdX-contact">
        <h2>${_('Technical Support, Suggestions, and Platform Bugs')}</h2>
        <p><strong>${_('Stanford Online Help Center:')}</strong><br />
        <a href="https://stanfordonline.zendesk.com/hc">https://stanfordonline.zendesk.com</a></p>
        
        <p>The <a href="https://stanfordonline.zendesk.com/hc">Help Center</a> contains a FAQ that answers all of the most common tech support questions for the courses available through class.stanford.edu. If you can't find what you're looking for there, or if you have a suggestion or bug report to make, you can also file a support ticket from the Help Center.</p>
        <p>If you are taking a course through Coursera or NovoEd, you can find their contact information below.</p>
        
        <p>&nbsp;</p>
        <h2>${_('Contact {Coursera}').format(Coursera="Coursera")}</h2>
        <p><strong>${_('{Coursera} Student Support Center:').format(Coursera="Coursera")}</strong><br />
        <a href="http://help.coursera.org/" class="external">http://help.coursera.org/</a></p>
        
        <p>&nbsp;</p>
        <h2>${_('Contact {NovoEd}').format(NovoEd="NovoEd")}</h2>
        <p><strong>${_('{NovoEd} Support Center:').format(NovoEd="NovoEd")}</strong><br />
        <a href="mailto:support@novoed.com" class="external">support@novoed.com</a></p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>
  </section>

</section>
