@import 'custom_variables/_colors.scss';

@import 'custom_overrides/_header.scss';

$footer-logo-width: 50px;
@import 'custom_overrides/_footer.scss';

@import 'custom_overrides/_instructor.scss';

// Hide the copyright footer on the ProblemBuilder XBlock
.xblock .mentoring .copyright {
    display: none;
}

$screen_break_xs_s: 500px;
$screen_break_s_m: 860px;
$screen_break_m_l: 1220px;
$screen_break_l_xl: 1580px;
@import 'custom_overrides/_mobile.scss';
