// LMS - assets - fonts
// ====================

@mixin fontface($font-family, $file-path, $weight: normal, $style: normal, $asset-pipeline: $asset-pipeline) {
  @fontface {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    @if $asset-pipeline == true {
      src: font-url('#{$file-path}.woff') format('woff'),
           font-url('#{$file-path}.ttf') format('truetype'),
           font-url('#{$file-path}.svg##{$font-family}') format('svg');
    } @else {
      src: url('#{$file-path}.woff') format('woff'),
           url('#{$file-path}.ttf') format('truetype'),
           url('#{$file-path}.svg##{$font-family}') format('svg');
    }
  }
}

@fontface {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: normal;
}

@fontface {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: italic;
}

@fontface {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-style: normal;
}

@fontface {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-style: italic;
}
