@import 'custom_variables/_colors.scss';

@import 'custom_overrides/_header.scss';

@import 'custom_overrides/_print.scss';

$footer-logo-width: 40px;
@import 'custom_overrides/_footer.scss';

@import 'custom_overrides/_course_styling.scss';

@import 'custom_overrides/_instructor.scss';

@import 'custom_overrides/_discussion.scss';

@import 'custom_overrides/_typography.scss';

@import 'custom_overrides/_register.scss';

@import 'custom_overrides/_student.scss';

@import 'custom_overrides/_bookmarks.scss';

@import 'custom_overrides/_progress.scss';

@import 'custom_overrides/_xblocks.scss';

@import 'custom_overrides/_mobile.scss';
