## mako
<%!
  from django.utils.translation import ugettext as _
  from courseware.courses import get_course_about_section
%>

<a href="http://twitter.com/intent/tweet?text=I+just+registered+for+${course.number}+${get_course_about_section(request, course, 'title')}!+(http://lagunita.stanford.edu)" class="share">		
    <i class="fa fa-twitter"></i><span class="sr">${_("Tweet that you've registered for this course")}</span>
</a>
<a href="mailto:?subject=Take%20a%20course%20at%20Stanford%20Lagunita!&body=I%20just%20registered%20for%20${course.number}%20${get_course_about_section(request, course, 'title')}+(http://lagunita.stanford.edu)" class="share">		
    <i class="fa fa-envelope"></i><span class="sr">${_("Email someone to say you've registered for this course")}</span>
</a>
