@import '_palette.scss';

$theme-color-main: $palo-alto;
$theme-color-dark: shade($palo-alto, 50%);
$theme-color-super-light: $light-sage;
$theme-color-ultra-light: tint($light-sage, 60%);
$theme-color-spot: $lagunita;

// main variable overrides
$black: $stanford-black;
$white: $stanford-white;
$gray: $stone;
$yellow: tint($sun, 85%);
$red: $bright-red;
$green: $mint;
$blue: $sky;
$orange: $sun;

@import '_derived.scss';
