// Colors - detailed overrides
$black-t0:  rgba($black, 0.125) !default;
$black-t1:  rgba($black, 0.25) !default;
$black-t2:  rgba($black, 0.5) !default;
$black-t3:  rgba($black, 0.75) !default;

// Colors - uxpl overrides
$uxpl-blue-base: $theme-color-main;
$uxpl-blue-hover-active: $theme-color-dark;
$uxpl-green-base: $theme-color-main;
$uxpl-green-hover-active: $theme-color-dark;
$uxpl-pink-base: adjust-hue($bright-red, -30);
$uxpl-grayscale-x-back: $fog;

// Colors - system-feedback overrides
$error-color: $bright-red;
$warning-color: $sun;
$confirm-color: $mint;
$active-color: $sky;
$highlight-color: tint($sun, 50%);
$alert-color: $bright-red;
$success-color: $mint;
$success-color-hover: $palo-alto;

// Colors - action - primary
$action-primary-bg: $theme-color-main;
$action-primary-fg: $fog;
$action-primary-shadow: $theme-color-dark;
$action-primary-focused-bg: $theme-color-main;
$action-primary-focused-fg: $fog;
$action-primary-active-bg: $theme-color-dark;
$action-primary-active-fg: $theme-color-main;
$action-primary-active-shadow: $theme-color-dark;
$action-primary-active-focused-fg: $theme-color-main;
$action-primary-active-focused-shadow: $theme-color-dark;
$action-primary-disabled-bg: $theme-color-super-light;
$action-prmary-disabled-fg: $theme-color-ultra-light;

// Colors - actions - misc
$link-color: $theme-color-main;
$blue: $theme-color-main;
$link-hover: $theme-color-dark;
$site-status-color: $redwood;
$button-color: $theme-color-main;
$button-archive-color: $theme-color-ultra-light;

// Colors - edx deprecated
$m-blue: $theme-color-main;  // uxpl blue base
$m-blue-l1: tint($m-blue, 45%);
$m-blue-l2: tint($m-blue, 65%);
$m-blue-l3: tint($m-blue, 80%);
$m-blue-l4: tint($m-blue, 90%);
$m-blue-l5: tint($m-blue, 95%);
$m-blue-l6: tint($m-blue, 97%);
$m-blue-d1: shade($m-blue, 5%);
$m-blue-d2: shade($m-blue, 10%);
$m-blue-d3: shade($m-blue, 15%);
$m-blue-d4: shade($m-blue, 20%);
$m-blue-d5: shade($m-blue, 35%);
$m-blue-d6: shade($m-blue, 50%);
$m-blue-t0: rgba($m-blue, 0.125) !default;
$m-blue-t1: rgba($m-blue, 0.25) !default;
$m-blue-t2: rgba($m-blue, 0.50) !default;
$m-blue-t3: rgba($m-blue, 0.75) !default;

// Courseware
$courseware-border-bottom-color: $black-t3;

// Homepage
$body-bg: $white;

// Header
$header-bg: $theme-color-ultra-light;
$header-border-color: $theme-color-spot;

// Footer
$footer-bg: $theme-color-ultra-light;
