.wrapper-footer {
    padding: 15px;

    footer#footer-openedx {
        .wrapper-logo {
            width: $footer-logo-width;
            float: left;
            margin: 0 15px 15px 0;

            img {
                width: 100%;
            }
        }
        .copyright {
            display: inline;
            padding: 0;
        }
        .nav-legal {
            padding-top: 15px;
        }
    }
}
