.header-global {
    .logo {
        margin-top: -5px;

        img {
            height: 50px;
        }
    }
    // User Menu tweaks (added Gingko release)
    .user, .wrapper-user-menu {
        .user-link, .menu-title {
            box-shadow: none;

            .label-username {
                margin-top: 13px;
                margin-bottom: 13px;
            }
        }
        .user-menu {
            margin: 7px 0;

            .user-dropdown {
                padding: 0px 9px 3px 9px;
                background: none;
            }
            .user-dropdown-menu {
                &:before {
                    top: -6px;
                }
            }
        }
    }

    &.slim {
        .user, .wrapper-user-menu {
            .user-menu {
                .user-dropdown {
                    padding: 3px 9px 7px 9px;
                }
                .user-dropdown-menu {
                    right: 6px;
                }
            }
        }
    }
}
