$screen_width_small: 768px;

section.container {
    &.about,
    &.tos,
    &.privacy,
    &.honor,
    &.copyright,
    &.contact {
        min-width: 0%;
        max-width: 1320px;
        padding: 20px 50px 20px 50px;
        .vision {
            .message.left .photo {
                float: none;
                width: 100%;
                max-width: 550px;
                margin: 20px auto;
            }
            #about,
            #tos,
            #privacy,
            #honor,
            #copyright,
            #contact {
                &.message {
                    border-bottom: 0;
                    padding-bottom: 80px;
                    &> article {
                        width: 100%;
                        float: none;
                    }
                }
            }
        }
        dd {
            margin: 0 0 0 20px;
        }
    }
}

@media (max-width: $screen_width_small) {
    #content {
        .course-info {
            .intro-inner-wrapper {
                min-width: auto;

                .media {
                    display: none;
                }
            }
            .container {
                min-width: auto;

                &> .details,
                &> .course-sidebar {
                    width: 100%;
                    box-sizing: border-box;
                    padding: 15px;
                    clear: both;
                }
            }
        }

        #dashboard-main {
            .course-container {
                .wrapper-course-details {
                    .course-info,
                    .wrapper-course-actions {
                        width: 100%;
                    }
                }
            }
        }
    }
}
