section.container {
    &.about,
    &.tos,
    &.privacy,
    &.honor,
    &.copyright,
    &.contact {
        min-width: 0%;
        max-width: $screen_break_m_l;
        padding: 20px 50px 20px 50px;
        .vision {
            .message.left .photo {
                float: none;
                width: 100%;
                max-width: 550px;
                margin: 20px auto;
            }
            #about,
            #tos,
            #privacy,
            #honor,
            #copyright,
            #contact {
                &.message {
                    border-bottom: 0;
                    padding-bottom: 80px;
                    &> article {
                        width: 100%;
                        float: none;
                    }
                }
            }
        }
        dd {
            margin: 0 0 0 20px;
        }
    }
}

// Phone screens (Phones only)
@media (max-width: $screen_break_xs_s - 1) {
    #global-navigation {
        .user {
            .user-link {
                .label-username {
                    position: absolute;
                    width: 0;
                    height: 0;
                    overflow: hidden;
                }
            }
        }
    }
}

// Handheld screens (Phones to small tablets)
@media (max-width: $screen_break_s_m - 1) {
    #content {
        .course-info {
            .intro-inner-wrapper {
                min-width: auto;

                .media {
                    display: none;
                }
            }
            .container {
                min-width: auto;

                &> .details,
                &> .course-sidebar {
                    width: 100%;
                    box-sizing: border-box;
                    padding: 15px;
                    clear: both;
                }
            }
        }
    }
}
