// Print styling, originally implemented for TOS page
@media print {
    html body .window-wrap #su-header,
    html body .window-wrap header.global,
    html body .window-wrap .wrapper-footer,
    html body .window-wrap #su-footer,
    #content section.tos input.print {
        display: none;
    }
}
#content section.tos input.print {
    margin-top: 25px;
    margin-bottom: 25px;
}
