.course-info {
    .sneakpeek-warning {
        clear: both;
        padding-top: 10px;
    }
    .sneakpeek-warning:before {
        content: '* ';
    }
}
.view-in-course {
    .sneakpeek-warning {
        position: relative;
        max-width: 1170px;
        margin: 0 auto;
        padding: 5px;
        border: none;
        background-color: $black;
        color: $white;
        line-height: 2em;
        font-weight: bold;
        text-align: center;
    }
    .sneakpeek-warning a {
        padding: 5px;
        background-color: $white;
        border-radius: 5px;
        font-weight: bold;
    }
}
