@import '_palette.scss';

$theme-color-main: $cardinal-red;
$theme-color-dark: $dark-red;
$theme-color-super-light: shade($light-sandstone, 50%);
$theme-color-ultra-light: $light-sandstone;
$theme-color-spot: $dark-red;

// main variable overrides
$black: $stanford-black;
$white: $stanford-white;
$gray: $stone;
$yellow: tint($sun, 85%);
$red: $bright-red;
$green: $mint;
$blue: $sky;
$orange: $sun;

@import '_derived.scss';
