## mako

<div id="su-footer">
  <div class="su-container">
    <div class="su-row">
      <div id="su-footer-logo" class="span2">
        <a href="http://www.stanford.edu">
          <img
            src="https://www-media.stanford.edu/su-identity/images/footer-stanford-logo@2x.png"
            alt="Stanford University"
            width="105"
            height="49"
          />
        </a>
      </div>
      <div id="su-footer-text" class="span10">
        <ul id="global-links">
          <li class="home"><a href="https://www.stanford.edu">Stanford Home</a></li>
          <li class="maps alt"><a href="https://visit.stanford.edu/plan/">Maps &amp; Directions</a></li>
          <li class="search-stanford"><a href="https://www.stanford.edu/search/">Search Stanford</a></li>
          <li class="emergency alt"><a href="https://emergency.stanford.edu">Emergency Info</a></li>
        </ul>
        <ul id="policy-links">
          <li class="terms alt"><a href="https://www.stanford.edu/site/terms/">Terms of Use</a></li>
          <li class="terms alt"><a href="https://www.stanford.edu/site/privacy/">Privacy Policy</a></li>
          <li class="copyright"><a href="https://uit.stanford.edu/security/copyright-infringement">Copyright Complaints</a></li>
          <li><a href="https://adminguide.stanford.edu/chapter-1/subchapter-5/policy-1-5-4">Trademark Notice</a></li>
        </ul>
      </div>
      <div class="clear"></div>
      <p class="copyright vcard">
        <span>&copy;</span>
        <span class="fn org">Stanford University</span>.
        <span class="adr">
          <span class="locality">Stanford</span>,
          <span class="region">California</span> <span class="postal-code">94305</span>.
        </span>
      </p>
    </div>
  </div>
</div>
