## mako
<%! 
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from edxmako.shortcuts import marketing_link
  from django.utils.timezone import now
%>
<%namespace name='static' file='/static_content.html'/>
<%namespace name='theme_settings' file='theme-settings.html'/>
<%
  theme_vars = theme_settings.get_theme_vars()
  effective_date = theme_vars['effective_date']
%>

<div class="wrapper-footer">
  <footer id="footer-openedx">
    <div class="colophon">
      <div class="copy-colophon">
        <span class="license-text"> &copy; ${now().strftime('%Y')} ${_('Stanford Medicine')}</span>
      </div>
      <nav class="nav-colophon"></nav>
    </div>
    <div class="references">
      <a id="stanford-footer-edx-image" href="https://open.edx.org">
        <span class="sr">${_('Powered by {platform_name}').format(platform_name='Open edX')}</span>
      </a>
    </div>
  </footer>
</div>
<%include file="su-footer.html" />
