## mako
<%! 
  from django.utils.translation import ugettext as _
  from django.utils.timezone import now
%>
<div class="wrapper-footer">
  <footer id="footer-openedx">
    <div class="colophon">
      <div class="copy-colophon">
        <span class="license-text"> &copy; ${now().strftime('%Y')} ${_('Stanford Medicine')}</span>
      </div>
      <nav class="nav-colophon"></nav>
    </div>
    <div class="references">
      <a id="stanford-footer-edx-image" href="https://open.edx.org">
        <span class="sr">${_('Powered by {platform_name}').format(platform_name='Open edX')}</span>
      </a>
    </div>
  </footer>
</div>
