.wrapper-footer {
    padding: 15px;

    footer#footer-openedx {
        .colophon {
            float: left;
        }

        .nav-colophon-01 {
            display: none;
        }

        .wrapper-logo,
        .copyright,
        .nav-legal {
            display: none;
        }
    }
}
