<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_('About')}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <section class="vision">
            <section class="message left" id="about">
                <article>
                    <h2>${_('About')} <span class="lagunita">Lagunita</span></h2>
                    <p>${_("{Lagunita} is {Stanford}'s instance of the open-source software release of the {Open_edX} platform, which was developed by the joint {Harvard_MIT} non-profit organization, and which {Stanford} engineers have been collaborating on since April 2013. {Lagunita} hosts many of the free, online courses that are taught by {Stanford} faculty and made available to lifelong learners around the world for self-enrichment. {Lagunita} also hosts a variety of professional education opportunities in conjunction with many of {Stanford_University}'s schools and departments.").format(
                            Lagunita="Lagunita",
                            Stanford="Stanford",
                            Open_edX="Open edX",
                            Harvard_MIT="Harvard/MIT",
                            Stanford_University="Stanford University"
                        ) | n}
                    </p>
                    <div class="photo">
                        <img src="${static.url('lagunita/images/quad.jpg')}" alt="${_('Stanford Quad with Hoover Tower')}" />
                        <!-- Image Copyright owned by Giulio Gratta -->
                    </div>
                    <p>${_("All of the personal and professional learning opportunities that are hosted on {Lagunita} and open to the public are made available through Stanford Online and listed at {lagunita_courses_link}.  To see our complete catalog of {Stanford_Online} courses on {Lagunita} and other platforms, you can visit {online_courses_link}.").format(
                            Lagunita="Lagunita",
                            Stanford_Online="Stanford Online",
                            lagunita_courses_link="<a href='https://lagunita.stanford.edu/courses'>https://lagunita.stanford.edu/courses</a>",
                            online_courses_link="<a href='http://online.stanford.edu/courses/'>http://online.stanford.edu/courses/</a>"
                        ) | n}
                    </p>
                </article>
            </section>
        </section>
    </section>
</main>
