<%page expression_filter="h"/>
<%!
  from django.conf import settings
  from django.utils.translation import ugettext as _
%>
<%inherit file="../main.html" />

<%
  site_name = settings.SITE_NAME
%>

<%block name="pagetitle">${_('This Course Unavailable In Your Country')}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="outside-app">
    <p>
        ${_("Our system indicates that you are trying to access a course at {site_name} from an " +
            "IP address associated with a country currently subject to comprehensive U.S. " +
            "economic and trade sanctions.  {university_name} is required to comply with " +
            "these sanctions regulations, and regretfully, we are not permitted to allow you " +
            "to access this particular course.  Feel free to browse our catalogue to find other " +
            "courses you may be interested in taking.").format(
                site_name=site_name,
                university_name="Stanford University"
            )
        }
    </p>
    </section>
</main>
