<%page expression_filter="h"/>
<%!
  from django.utils.translation import ugettext as _
  from edxmako.shortcuts import marketing_link
%>
<%inherit file="../main.html" />
<%block name="pagetitle">${_('Honor Code')}</%block>
<%
  honor_link = marketing_link('HONOR')
%>

<%block name="headextra">
    <%!
      from edxmako.shortcuts import marketing_link
    %>
    <%
      honor_link = marketing_link('HONOR')
    %>
    ## HTML meta redirect code from: https://stackoverflow.com/a/5411601
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0; url=${honor_link}">
    <script type="text/javascript">
        window.location.href = "${honor_link}"
    </script>
</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container honor">
        <h2>${_('Honor Code')}</h2>
        <p>If you are not redirected automatically, follow this <a href="${honor_link}">link to the Honor Code</a>.</p>
    </section>
</main>
