<%page expression_filter="h"/>
<%!
  from django.utils.translation import ugettext as _
%>
<%inherit file="../main.html" />
<%block name="pagetitle">${_('Honor Code')}</%block>
<%block name="headextra">
    ## HTML meta redirect code from: https://stackoverflow.com/a/5411601
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0; url=/tos#honor">
    <script type="text/javascript">
        window.location.href = "/tos#honor"
    </script>
</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container honor">
        <h2 id="honor">${_('Honor Code')}</h2>
        <p>If you are not redirected automatically, follow this <a href="/tos#honor">link to example</a>.</p>
    </section>
</main>
