<%namespace name='static' file='/static_content.html'/>

<%include file="${static.get_template_path(relative_path='su-footer.html')}"  />

## We have to wait to append this script to the page,
## otherwise there's a chance the zendesk widget does
## not show up on the page. Most likely, due to a race
## condition where other elements of the page must load first.
<script>
  $(document).ready(function(){
    setTimeout(function(){
      var script = document.createElement('script');
      script.id = 'ze-snippet';
      script.src = 'https://static.zdassets.com/ekr/snippet.js?key=8ca24832-80a4-4e66-ba71-c44c36c96b85';
      $('body').append(script);
    }, 500); // Smallest value that guaranteed zendesk widget to show consistently
  });
</script>
