@import 'custom_variables/_colors.scss';
@import 'custom_variables/_fonts.scss';
@import 'custom_variables/_images.scss';

// Import remaining defaults directly from platform
@import 'edx-bootstrap/sass/open-edx/theme';
