@import 'custom_variables/colors.scss';

.header-global {
    .logo {
        margin-top: -5px;

        img {
            height: 50px;
        }
    }
}

.help-buttons {
    li {
        margin-top: 10px;

        a:link, a:visited {
            display: block;
            padding: 15px 0;
            background: #fff;
            border: 1px solid #c8c8c8;
        }
        a.help-modal-button {
            &:link, &:visited {
                font-weight: bold;
                background-color: $palo-alto;
                color: $white;
            }
        }
        a:hover {
            background-color: $palo-alto;
            color: $white;
        }
    }
    &:first-child {
        margin-top: 0;
    }
}

.wrapper-footer {
    padding: 15px;

    footer#footer-openedx {
        .wrapper-logo {
            width: 50px;
            float: left;
            margin: 0 25px 0 0;

            img {
                width: 100%;
            }
        }
        .copyright {
            display: inline;
            padding: 0;
        }
        .nav-legal {
            padding-top: 15px;
        }
    }
}

// Hide the copyright footer on the ProblemBuilder XBlock
.xblock .mentoring .copyright {
    display: none;
}

// Print styling, originally implemented for TOS page
@media print {
    html body .window-wrap #su-header,
    html body .window-wrap header.global,
    html body .window-wrap .wrapper-footer,
    html body .window-wrap #su-footer,
    #content section.tos input.print {
        display: none;
    }
}
#content section.tos input.print {
    margin-top: 25px;
    margin-bottom: 25px;
}

// Custom default styling for Lagunita courses, UX001
@import 'custom_overrides/course_styling.scss';
