@import 'custom_variables/_colors.scss';

@import 'custom_overrides/_header.scss';

$help-modal-button-color: $palo-alto;
@import 'custom_overrides/_help_modal.scss';

@import 'custom_overrides/_print.scss';

$footer-logo-width: 80px;
@import 'custom_overrides/_footer.scss';

// Custom default styling for Lagunita courses, UX001
@import 'custom_overrides/_course_styling.scss';

// Student profile
.account-settings-container, .wrapper-profile {
    margin-bottom: 30px;
}

// Hide the copyright footer on the ProblemBuilder XBlock
.xblock .mentoring .copyright {
    display: none;
}
