@import 'custom_variables/colors.scss';

@import 'custom_overrides/header.scss';

$help-modal-button-color: $palo-alto;
@import 'custom_overrides/help_modal.scss';

@import 'custom_overrides/print.scss';

$footer-logo-width: 100px;
@import 'custom_overrides/_footer.scss';

// Custom default styling for Lagunita courses, UX001
@import 'custom_overrides/course_styling.scss';

// Student profile
.account-settings-container, .wrapper-profile {
    margin-bottom: 30px;
}

// Hide the copyright footer on the ProblemBuilder XBlock
.xblock .mentoring .copyright {
    display: none;
}
