@import 'palette.scss';

// Colors - main overrides
$black: $stanford-black;
$white: $stanford-white;
$gray: $stone;
$yellow: tint($sun, 85%);
$red: $bright-red;
$green: $mint;
$blue: $sky;
$orange: $sun;

// Colors - uxpl overrides
$uxpl-blue-base: $cardinal-red;
$uxpl-blue-hover-active: $bright-red;
$uxpl-green-base: $palo-alto;
$uxpl-green-hover-active: $mint;
$uxpl-pink-base: adjust-hue($bright-red, -30);
$uxpl-grayscale-x-back: $fog;

// Colors - system-feedback overrides
$error-color: $bright-red;
$warning-color: $sun;
$confirm-color: $mint;
$active-color: $sky;
$highlight-color: tint($sun, 50%);
$alert-color: $bright-red;
$success-color: $mint;
$success-color-hover: $palo-alto;

// Colors - action - primary
$action-primary-bg: $cardinal-red;
$action-primary-fg: $fog;
$action-primary-shadow: $dark-red;
$action-primary-focused-bg: $cardinal-red;
$action-primary-focused-fg: $fog;
$action-primary-active-bg: $bright-red;
$action-primary-active-fg: $cardinal-red;
$action-primary-active-shadow: $dark-red;
$action-primary-active-focused-fg: $bright-red;
$action-primary-active-focused-shadow: $dark-red;
$action-primary-disabled-bg: $sandstone;
$action-prmary-disabled-fg: $light-sandstone;

// Colors - actions - misc
$link-color: $lagunita;
$link-hover: shade($lagunita, 50%);
$site-status-color: $redwood;
$button-color: $cardinal-red;
$button-archive-color: $light-sandstone;

// Colors - edx deprecated
$m-blue: $cardinal-red;  // uxpl blue base
$m-blue-l1: tint($m-blue, 45%);
$m-blue-l2: tint($m-blue, 65%);
$m-blue-l3: tint($m-blue, 80%);
$m-blue-l4: tint($m-blue, 90%);
$m-blue-l5: tint($m-blue, 95%);
$m-blue-l6: tint($m-blue, 97%);
$m-blue-d1: shade($m-blue, 5%);
$m-blue-d2: shade($m-blue, 10%);
$m-blue-d3: shade($m-blue, 15%);
$m-blue-d4: shade($m-blue, 20%);
$m-blue-d5: shade($m-blue, 35%);
$m-blue-d6: shade($m-blue, 50%);
$m-blue-t0: rgba($m-blue, 0.125) !default;
$m-blue-t1: rgba($m-blue, 0.25) !default;
$m-blue-t2: rgba($m-blue, 0.50) !default;
$m-blue-t3: rgba($m-blue, 0.75) !default;

// Homepage
$body-bg: $white;

// Header
$header-bg: tint($cloud, 75%);
$header-border-color: $cardinal-red;

// Footer
$footer-bg: tint($cloud, 75%);
