// Colors - primary
$cardinal-red: rgb(140, 21, 21);
$stanford-white: rgb(255, 255, 255);
$cool-gray: rgb(77, 79, 83);
$stanford-black: rgb(46, 45, 41);

// Colors - secondary
$bright-red: rgb(177, 4, 14);
$dark-red: rgb(130, 0, 0);
$bright-blue: rgb(0, 108, 184);
$blue: rgb(0, 84, 143);
$chocolate: rgb(47, 36, 36);
$stone: rgb(84, 73, 72);
$fog: rgb(244, 244, 244);
$light-sandstone: rgb(249, 246, 239);
$sandstone: rgb(210, 194, 149);
$warm-gray: rgb(63, 60, 48);
$beige: rgb(157, 149, 115);
$light-sage: rgb(199, 209, 197);
$clay: rgb(95, 87, 79);
$cloud: rgb(218, 215, 203);
$driftwood: rgb(182, 177, 169);
$sandhill: rgb(179, 153, 93);
$palo-alto: rgb(23, 94, 84);
$teal: rgb(0, 80, 92);
$purple: rgb(83, 40, 79);
$redwood: rgb(141, 60, 30);
$brown: rgb(94, 48, 50);
$sky: rgb(0, 152, 219);
$lagunita: rgb(0, 124, 146);
$mint: rgb(0, 155, 118);
$gold: rgb(178, 111, 22);
$sun: rgb(234, 171, 0);
$poppy: rgb(233, 131, 0);
